# Azure SDK dependencies for direct Python calls
##pyspark==4.0.0
pydantic
pyarrow
pandas
azure-identity
azure-core
azure-synapse-artifacts
azure-storage-blob
azure-keyvault-secrets
azure-devops
azure-mgmt-resource
azure-mgmt-storage
azure-mgmt-devtestlabs
azure-cli-core
msal
msal-extensions
icecream
colorama
rich
python-dotenv
pyyaml
loguru
pytest
pytest-html
pytest-cov
httpx
requests
snoop
chispa
pytest-clarity
pytest-pretty
pytest-json
psutil
pytest-fixture-classes
pytest-loguru
pytest-html
pytest-icdiff
openpyxl
pre-commit
ruff
